h1{
    white-space: nowrap;
    color: lawngreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(https://bit.ly/2tU8NMV);
    font-size: x-large;
    text-align: inherit;
    font-size: xx-large;
    text-align: center;
}